<div *ngIf="taskData" class="card-container">

  <div class="task-list" *ngIf="taskData">
    <mat-card class="task-card">
      <div class="task-details">
        <h2 class="task-name">{{ taskData.title }}</h2>
        <p class="task-description">{{ taskData.description }}</p>

        <mat-divider></mat-divider>
        <div class="task-info">
          <div class="info-row">
            <span class="info-label">Fecha de Vencimiento:</span>
            <span class="info-value">{{ taskData.dueDate | date: 'd, MMMM y' }}</span>
          </div>
          <div class="info-row">
            <span class="info-label">Estudiante:</span>
            <span class="info-value">{{ taskData.studentName }}</span>
          </div>
          <div class="info-row">
            <span class="info-label">Prioridad:</span>
            <span class="info-value">{{ taskData.priority }}</span>
          </div>
          <div class="info-row">
            <span class="info-label">Estatus:</span>
            <span class="info-value">{{ taskData.taskStatus }}</span>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-card class="comment-card">
    <mat-card-content>
      <h4>Escribe tú comentario</h4>
      <div>
        <form [formGroup]="commentForm">
          <mat-form-field appearance="fill">
            <mat-label>Contenido</mat-label>
            <textarea matInput formControlName="content"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" style="float: right;" [disabled]="!commentForm.valid"
                  (click)="publishComment()">Publicar Comentario
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <div style="margin-top: 10px">
    <h4>Comentarios</h4>
    <mat-card *ngFor="let comment of comments" style="margin-top: 10px;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ comment.postedBy }}</mat-card-title>
        <mat-card-subtitle>{{ comment.createdAt | date:'medium' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ comment.content }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
