# Entorno virtual
venv/
env/

# Archivos de configuración del sistema operativo
*.DS_Store
*.swp
*.swo
Thumbs.db

# Configuración de Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Configuración de Django
db.sqlite3
*.sqlite3-journal
/media/
staticfiles/
*.py[cod]

# Configuración de archivos de entorno
.env
*.env

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos de migraciones (opcional, si no quieres ignor
